.grid-layout {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(16, 1fr);

  &__image {
    grid-column: 13 / 25;
    grid-row: 1 / 13;
    @media screen and (max-width: map-get($breakpoints, md)) and (min-width: map-get($breakpoints, sm)) {
      grid-column: 8 / 25;
    }
    @media screen and (max-width: map-get($breakpoints, sm)) {
      grid-column: 6 / 25;
      grid-row: 1 / 12;
      margin-left: 40%;
      min-height: base(22.5);
    }
  }

  &__graffiti {
    transform: scaleX(-1);
    grid-column: 15 / 23;
    grid-row: 10 / 17;
    @media screen and (max-width: map-get($breakpoints, md)) and (min-width: map-get($breakpoints, sm)) {
      grid-column-end: 25;
    }
    @media screen and (max-width: 575px) {
      grid-row: 12 / 17;
      grid-column: 14 / 25;
    }
  }

  &__ingress {
    grid-column: 3 / 25;
    grid-row: 3 / span 5;
    max-width: 40ch;
    @media screen and (max-width: map-get($breakpoints, md)) and (min-width: map-get($breakpoints, sm)) {
      grid-column: 1 / 25;
    }
    @media screen and (max-width: map-get($breakpoints, sm)) {
      grid-row: 2 / 6;
      grid-column: 1 / 25;
    }
  }

  &__contact {
    grid-column: 5 / 13;
    grid-row: 7 / span 3;
    @media screen and (max-width: map-get($breakpoints, xl)) and (min-width: map-get($breakpoints, md)) {
      grid-column: 3 / 13;
    }
    @media screen and (max-width: map-get($breakpoints, md)) and (min-width: map-get($breakpoints, sm)) {
      grid-column: 1 / 13;
      grid-row: 13 / 17;
    }
    @media screen and (max-width: map-get($breakpoints, sm)) {
      grid-row: 6 / 10;
      grid-column: 1 / 25;
    }
  }
  &__address {
    grid-column: 13 / 25;
    grid-row: 7 / span 3;
    @media screen and (max-width: map-get($breakpoints, md)) and (min-width: map-get($breakpoints, sm)) {
      grid-column: 1 / 25;
      grid-row: 9 / 12;
    }
    @media screen and (max-width: map-get($breakpoints, sm)) {
      grid-row: 9 / 12;
      grid-column: 1 / 25;
    }
  }
}
