.clients {
  &__heading {
    margin-top: base(10);
    margin-bottom: base(5);
    @media screen and (max-width: map-get($breakpoints, md)) {
      margin-top: base(5);
    }
  }
}

.clients-list {
  &__client {
    margin-bottom: base(7.5);
  }

  h3 {
    margin-bottom: base(1.5);
  }
}

.background {
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__image {
    width: 280px;
    height: auto;
    object-fit: contain;
  }
}
