.agency {
  &__heading {
    margin-top: base(10);
    margin-bottom: base(5);
    @media screen and (max-width: map-get($breakpoints, md)) {
      margin-top: base(5);
    }
  }
}

.employees {
  &__row {
    margin-bottom: base(7.5);
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.graffiti-top {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: base(21);
  margin-top: base(3);
  margin-bottom: -#{base(5)};
  transform: scaleX(-1);
  @media screen and (max-width: map-get($breakpoints, 'lg')) {
    margin-bottom: base(3);
  }
}
.card-image-wrapper {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .graffiti {
    position: absolute;
    z-index: 1;
    width: 60%;
    bottom: 0;
    left: 0;
    transform: translate(-30%, 60%) scaleX(-1);
    img {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
      display: none;
    }
  }
}
.graffiti-mobile {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: base(2);
  img {
    width: 100%;
  }
  @media screen and (min-width: map-get($breakpoints, md)) {
    display: none;
  }
}
