.link-wrapper {
  position: relative;
  display: grid;
  place-items: center;
  .link-body {
    position: absolute;
    width: base(7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  a {
    position: relative;
    z-index: 2;
  }

  .hover-highlight {
    :hover {
      color: $color-primary;
    }
  }
}

.navbar {
  margin: 0;
  position: relative;
  padding-top: base(1.5);
  padding-bottom: base(1.5);

  a {
    font-size: base(0.9);
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }

  &__inner {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: baseline;
    @media screen and (max-width: map-get($breakpoints, md)) {
      align-items: center;
    }
    width: 100%;
  }
  &__logo {
    width: base(5.5);
  }
  &__links {
    gap: base(3);
    grid-auto-flow: column;
    display: none;
  }

  &__mobile-button {
    border: 1px solid $color-secondary;
    border-radius: 50%;
    width: base(2);
    height: base(2);
    display: grid;
    place-items: center;
    background: transparent;
    color: $color-secondary;
  }

  @media screen and (min-width: map-get($breakpoints, 'md')) {
    padding-top: base(3);
    padding-bottom: base(3);
    &__mobile-button {
      display: none;
    }
    &__links {
      display: grid;
    }
  }
}
