.actionButton {
    border: 1px solid #712cff;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #712cff;
    margin-bottom: 1em;
    font-size: 22px; 
  }